WRenderer/x64/Debug/WRenderer.tlog/CL.read.1.tlog
*.tlog
.vs/WRenderer/v15/ipch/AutoPCH/WRENDERER-c091dea6/SWAPCHAIN-2a41bbcd/SWAPCHAIN.ipch
*.db
.vs/WRenderer/v15/Browse.VC.opendb
*.ipch
WRenderer/x64/Debug/WRenderer.log
*.pdb
WRenderer/x64/Debug/vc140.idb
*.suo
WRenderer/x64/Debug/DeviceInfo.obj
WRenderer.sdf
*.log
x64/Debug/WRenderer.exe
WRenderer/x64/Release/main.obj
WRenderer/x64/Debug/vc141.idb
WRenderer/x64/Debug/Texture.obj
WRenderer/x64/Debug/main.obj
WRenderer/x64/Debug/SwapChain.obj
*.ilk
x64/Debug/WRenderer.exe
x64/Release/WRenderer.exe*.idb
*.filters
*.sdf
Debug/WRenderer.exe
WRenderer/x64/Debug/UniformBuffer.obj
WRenderer/x64/Debug/Device.obj
WRenderer/x64/Debug/DepthTexture.obj
WRenderer/Debug/UniformBuffer.obj
WRenderer/Debug/SwapChain.obj
WRenderer/Debug/main.obj
WRenderer/Debug/DeviceInfo.obj
WRenderer/Debug/DepthTexture.obj
WRenderer/Debug/Device.obj
WRenderer/Debug/vc120.idb
WRenderer/Debug/vc141.idb
