WRenderer/x64/Debug/WRenderer.tlog/CL.read.1.tlog
*.tlog
.vs/WRenderer/v15/ipch/AutoPCH/WRENDERER-c091dea6/SWAPCHAIN-2a41bbcd/SWAPCHAIN.ipch
*.db
.vs/WRenderer/v15/Browse.VC.opendb
*.ipch
WRenderer/x64/Debug/WRenderer.log
*.pdb
WRenderer/x64/Debug/vc140.idb
*.suo
WRenderer/x64/Debug/DeviceInfo.obj
WRenderer/x64/Debug/main.obj
WRenderer/x64/Debug/SwapChain.obj
x64/Release/WRenderer.exe
*.ilk
x64/Debug/WRenderer.exe
*.log
WRenderer/x64/Release/main.obj
WRenderer/x64/Debug/vc141.idb
*.idb
*.filters
*.sdf
Debug/WRenderer.exe
